{% apply spaceless %}
<!DOCTYPE html>
<html>
    <head>
        {{ include('@Core/admin/module/metas.html.twig') }}

        <title>{% block title %}{{ site_name }}{% endblock %}</title>

        {% block css %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        {{ include('@Core/admin/module/flashes.html.twig') }}

        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light border-bottom">
            <a class="navbar-brand" href="{{ path('admin_dashboard_index') }}">
                <img id="logo" src="{{ asset(site_logo) }}" alt="{{ site_name }}" title="{{ site_name }}">

                {{ site_name }}
            </a>

            <div class="ml-auto">
                {{ include('@Core/admin/module/account.html.twig') }}
            </div>
        </nav>

        {% block body_container %}
            <div class="container-fluid">
                <nav class="bg-dark-blue sidebar">
                    <div class="sidebar-sticky">
                        {{ include('@Core/admin/module/menu.html.twig') }}
                    </div>
                </nav>
                <div class="body">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block js %}
            <script src="{{ asset('vendor/tinymce/tinymce.min.js') }}"></script>

            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </body>
</html>
{% endapply %}
