<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="format-detection" content="telephone=no" />
<title>{% block title %}{% endblock %}</title>
{% block css %}
<style>
html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}

#header {
    padding: 20px 10px;
    background: #f8f9fa;
}

#content {
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#logo {
    width: 230px;
}

#logo svg {
    width: 230px;
}

a {
    color: #3183aa;
}
</style>
{% endblock %}
</head>
<body>

<div id="content">
{% block body %}{% endblock %}
</div>

</body>
</html>
