<div class="modal-dialog {% if options['view']|default('') == 'large' %}modal-dialog-large{% endif %}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ entity.section|trans }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{{ path('admin_navigation_setting_edit', {entity: entity.id}) }}" id="form-entity-edit" method="POST">
                {{ include('@Core/setting/navigation_setting_admin/_form.html.twig') }}
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
            <button type="submit" form="form-entity-edit" class="btn btn-primary">{{ 'Save'|trans }}</button>
        </div>
    </div>
</div>

