<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{ asset('favicon.png') }} " type="image/png">
<link rel="icon" sizes="32x32" href="{{ asset('favicon-32.png') }}" type="image/png">
<link rel="icon" sizes="64x64" href="{{ asset('favicon-64.png') }}" type="image/png">
<link rel="icon" sizes="96x96" href="{{ asset('favicon-96.png') }}" type="image/png">
<link rel="icon" sizes="196x196" href="{{ asset('favicon-196.png') }}" type="image/png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}">
